
.login-page {
  background: #f6f7f9;
  min-height: calc(100vh - 72px);
}

.login-card {
  border: 1px solid #8269e8;
  border-radius: 14px;
}

.login-input {
  border-radius: 10px;
  padding: 0.6rem 0.75rem;
}

.login-btn {
  border-radius: 10px !important;
  padding: 0.65rem 0.9rem !important;
  background-color: #8269e8 !important;
  color: white !important;
}
.login-btn:hover {
  border-radius: 10px !important;
  padding: 0.65rem 0.9rem !important;
  background-color: #412c94 !important;
  color: white !important;
}

.login-link {
  color: #8269e8 !important;
  text-decoration: none !important;
  font-weight: 500 !important;
}

.login-link:hover {
  color: #8269e8 !important; 
  text-decoration: underline !important;
}


