body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --learnify-purple: #8269e8;
  --learnify-purple-border: #8269e8;
}
.full-header{
  background: #fff;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  z-index: 1030;
}


/* Buttons */
a.btn.btn-learnify-enroll,
button.btn.btn-learnify-enroll {
  background-color: var(--learnify-purple);
  border: 1px solid var(--learnify-purple-border);
  color: #fff;
}

a.btn.btn-learnify-enroll:hover,
button.btn.btn-learnify-enroll:hover {
  background-color: #8269e8;
  border-color: #8269e8;
  color: #fff;
}

a.btn.btn-learnify-login,
button.btn.btn-learnify-login {
  background-color: transparent;
  border: 1px solid var(--learnify-purple);
  color: var(--learnify-purple);
}

a.btn.btn-learnify-login:hover,
button.btn.btn-learnify-login:hover {
  background-color: #8269e8;
  color: white;
} 

/* Logo */
.learnify-logo {
  height: 44px;
}

/* Search focus */
.learnify-search:focus {
  box-shadow: none;
  outline: none;
}

